.blog-container{
    width: 90%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.gradient-text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;

    letter-spacing: -0.04em;

    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: 50%;
    margin: 4rem 0rem;
}

.blog-container-stories{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 696px;
}

.blog-story-left{
    width: 30%;
    margin-right: 2rem; 
}

.blog-story-right{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.blog-card-tall{
    height: 696px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
}

.blog-card-tall img{
    width: 100%;
}

.title-section{
    background-color: #042C54;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
}

.blog-date{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 11.649px;
    line-height: 35px;
    color: #FFFFFF;
}

.blog-title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 25.11px;
    line-height: 30px;
    color: #FFFFFF;
}

.blog-read{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 11.649px;
    line-height: 35px;
    color: #FFFFFF;
}


.blog-card{
    width: 40%;
}

.blog-card img{
    width: 100%
}