.features-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1279.32px;
    height: 431px;
    margin: 0rem auto;
    margin-top: 8rem;
    margin-bottom: 2rem;
    
}

.features-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.left{
    width: 40%;
    margin-right: 3rem;
}

.right{
    width: 55%;
}

.features-column h2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 3rem;
}

.features-column p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FF8A71;
}

.features-feature_card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.features-feature_card .what-heading{
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    margin-right: 4rem
}

.features-feature_card p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #81AFDD;
    width: 70%;
}